@use '../base/mixins' as m;
@use '../base/variables' as v;

.formulario {
    margin: 3rem 3rem 0 3rem;
    color: v.$blanco;

    h2 {
        font-size: 5rem;
        padding: 3rem 0 3rem 0;
        text-align: center;
    }

    fieldset {
        display: block;
        border: none;
    }

    legend,
    label {
        font-size: 2rem;
        line-height: 3rem;
        margin-bottom: 2rem;
    }

    input {
        display: block;
        text-align: center;
        font-size: 1.5rem;
        width: 95%;
        height: 5rem;
        margin: 0 auto;
        border: 1px solid v.$amarillo;
        background-color: v.$DMgrisClaro;
        color: v.$blanco;
    }

    &__boton {
        text-align: center;

        p {
            padding: 1rem;
            font-size: 3rem;

            &:hover {
                color: v.$dorado;

            }
        }

        background-color: v.$negro;
        color: v.$blanco;
    }
    
    &__resultado {
        border-top: 1px solid v.$grisOscuro;
        padding-top: 1rem;
        text-align: center;
        color: v.$verdeOscuro;
    }
}