@use '../base/variables' as v;
@use '../base/mixins' as m;

$iconTime: 4s;

.header {
    height: 19rem;
    text-align: center;
    display: block;
    background-color: v.$DMgrisOscuro;
    padding: 3rem;
    border-bottom: 1px solid v.$amarillo;

    &__contenedor {

        display: flex;
        justify-content: space-around;
        gap: 5rem;
    }

    &__heading {

        color: v.$amarillo;
        font-size: 5rem;
        letter-spacing: 2rem;
        margin: 0.5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;

    }

    &__grid-icono {
        width: 25rem;
        display: flex;
        gap: 2rem;
        align-items: center;

    }

    &__icono-opts {

        display: flex;
        flex-direction: column;
        gap: 1rem;
        width: 100%;
        color: v.$dorado;

        p {
            margin: 0;
            text-align: center;
            padding: 0;
        }
    }
    &__contenedor-icono {

        height: fit-content;
        width: fit-content;
        padding: .5rem;
        border-radius: 50%;
        border: 3px solid rgba(v.$dorado, .0);
        transition: all $iconTime ease;

        background-color: rgba(v.$dorado, .3);
        border-radius: 50%;
        cursor: help;

        &:hover {

            border: 3px solid rgba(v.$dorado, .6);

            transform: rotate(720deg);

            .header__icono {

                border: 1.5px solid v.$amarillo;
                transform: scale(100%);
                color: #BFBFBF;
                text-shadow:
                    1px 1px 2px #000,
                    2px 2px 5px #b8b8b8,
                    -1px -1px 2px #000,
                    -2px -2px 5px #b8b8b8;

            }
        }
    }

    &__icono {

        border-radius: 50%;
        font-size: 10rem;
        color: v.$negro;

        background-color: v.$amarillo;
        border: 1.5px solid v.$dorado;
        box-shadow: 5px 5px 3px inset v.$dorado,
            0px 0px 6px 3px v.$amarillo;

        text-shadow: 0 0 0;

        transform: scale(80%);
        transition: transform $iconTime ease, text-shadow $iconTime ease, border $iconTime ease;

    }
}