@use '../base/mixins' as m;
@use '../base/variables' as v;


@keyframes parpadeo {
    0% {
        box-shadow: 0 0 5px v.$blanco,
        0 0 5px v.$blanco inset;
        opacity: .4;
    }
    50% {
        box-shadow: none;
        opacity: 0;
    }
    100% {
        box-shadow: 0 0 5px v.$blanco,
        0 0 5px v.$blanco inset;
        opacity: .4;
    }
}
.scroll {

    position: fixed;
    bottom: 5rem;
    right: 5rem;

    width: 5rem;
    height: 5rem;
    z-index: 3;
    color: v.$blanco;
    background-color: v.$negro;
    padding: 1rem;
    border: .5px solid v.$blanco;
    font-size: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 10px v.$blanco,
        0 0 10px v.$blanco inset;

    transition: all .2s ease;
    animation: parpadeo 4s infinite;

    &--oculto {
        opacity: 0!important;
    }

}