@use 'variables' as v;

.c-green {
    transition: color 1s ease!important;
    color: darken(v.$verdeClaro, 20%)!important;

}

.c-red {
    transition: color 1s ease!important;
    color: darken(v.$rojo, 10%)!important;
}

.cursor-pointer {
    cursor: pointer!important;
}

.flex {
    display: flex;
}


