// Tipografia

$fuentePrincipal:'Roboto', sans-serif;
$fuenteSecundaria: 'Libre Baskerville', serif;

$regular: 400;
$bold: 700;
$black: 900;

// Colores
$rojo: #c60207;
$naranja: #d23e01;
$verdeOscuro: #00b289;
$verdeClaro: #0ABF2E;
$azul: #0AC1C9;
$blanco: #ffffff;
$negro: #000000;
$grisOscuro: #7D7470;

$amarillo: #ffd53a;
$dorado: #fbb106;


$DMazulOscuro: #111828;

$DMgrisOscuro: #1c1916;
$DMgrisMedio: #282d35;
$DMgrisClaro: #384153;

// Tamaños de Media Queries

$telefono: 480px;
$tablet: 768px;
$desktop: 992px;
$desktopXL: 1200px;